{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
<h1>{{ user.username }}</h1>
{#member since {{ moment(user.member_since).format('L') }}#}
{#last seen {{ moment(user.last_seen).fromNow() }}#}
last seen {{ user.last_seen }}
</div>
    {% if user == current_user %}
        <a href="{{ url_for('main.edit_profile') }}" class="btn btn-default">Edit Profile</a>
    {% endif %}
    {% if current_user.is_admin() %}
        <a href="{{ url_for('main.edit_profile_admin', id=user.id) }}" class="btn btn-danger">Edit Profile [Admin]</a>
    {% endif %}
{% endblock %}